{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hello Shivam! It's nice to meet you. You're very young and it's wonderful to hear that you've started going to school.</p>
        <p> Drawing animals and dancing to movie songs are great hobbies to have at your age. It's important to have fun and explore your interests.</p>
        <p> I hope you continue to enjoy school and pursue your passions as you grow up!</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}